
:root {
  /* Sage Green f */
  --bs-primary: #728c69; 
  
  /* Soft Gold secondary accents */
  --bs-secondary: #c9b19d; 
  
  /* Light background  */
  --bs-light: #f9f7f5;
  
  
  --bs-dark: #33423a;
}

/* text color*/
.btn-primary {
  color: white; 
}